@{
    ViewData["Title"] = "About Todd";
}

<div class="container">
    <div class="jumbotron text-center">
        <h1>Todd Mickel</h1>
        <h2>Lolo, MT</h2>
        <h3>Full Stack Developer</h3>
    </div>
    <div class="container-fluid about-block">
        <p>When not helping local businesses increase sales with a strong web presence, Todd is a SmokeJumper pilot for
            the U.S. Forest Service out of Missoula, MT. He is available on a contract basis and has experience with
            HTML, CSS, JavaScript, React, JQuery, AJAX, C#, .NET Core, Entity Framework, and SQLite.</p>

        <p>If you have any comments or inquiries, he may be contacted at <a
                href="mailto:todd@toddmickel.com">todd@toddmickel.com</a></p>
    </div>
</div>