@{
    ViewData["Title"] = "Home Page";
}

<section class="container-fluid info-block" id="welcome">
    <div class="text-center">
        <h1 class="display-4">Welcome to TaskManager!</h1>
    </div>
    <div>
        <p><b>Description:</b> This project was created as a part of my FSDI 107, Asp.net Core Solutions class. The
            assignment was to create a task manager that allows the user to input tasks, mark certain tasks as
            important, delete tasks, and mark them complete. The tasks were to be stored in and retrieved from a
            database.</p>

        <p><b>Possible Future Functionality:</b> Have the code sort the tasks by Importance and Due Date before showing
            them.</p>

        <p><b>Technologies Used:</b>
        <ul>
            <li><b>Front End:</b></li>
            <ul>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>AJAX</li>
            </ul>
            <li><b>Back End:</b></li>
            <ul>
                <li>C#</li>
                <li>.NET Core</li>
                <li>Entity Framework</li>
                <li>SQLite</li>
            </ul>
        </ul>
        </p>
    </div>
</section>
